.cms-content {
  ol,
  ul {
    padding-left: .75rem;
    list-style: inherit;
    list-style-position: inside;
  }

  ol {
    padding-left: rem-calc(30px);
    list-style: decimal;
  }

  ul li {
    list-style-type:disc
  }

  img {
    max-width: 100%;
    height: auto;
  }

  table{
    width: max-content;
    tr:nth-child(even){
      background-color:transparentize($color: $gray-500, $amount: 0.75);
    }
    tr{
      border-bottom: solid 1px $black;
    }
    th{
      display: table-row;
    }
  }
}
